/* PALETTE */
:root {
    --bg-dark-blue: #2C3E50;
    --bg-acquamarine: #1ABC9C;
    --bg-light-blue: #3A546D;
    --bg-white: #FFFFFF;
}

/* RESET RULES */
ul,
ol,
menu {
    list-style: none;
}

a {
    color: currentColor;
}

/* UTILITY CLASSES */
.bg-dark-blue {
    background-color: var(--bg-dark-blue);
}

.bg-blue {
    background-color: var(--bg-light-blue);
}

.bg-acquamarine {
    background-color: var(--bg-acquamarine);
}

.text-dark-blue {
    color: var(--bg-dark-blue);
}

/* NAVBAR */



/* HERO */
.hero__img img {
    max-width: 230px;
}

.hero__skills {
    font-size: 15px;
}

.section-title .star::after, 
.section-title .star::before {
    content: "";
    display: block;
    height: 3px;
    background-color: currentColor;
    width: 20%;
    max-width: 170px;
} 


/* ABOUT */



/* MEDIA QUERIES */
@media (min-width: 768px) {
    .hero__skills {
        font-size: 20px;
    }
}

@media (min-width: 992px) {
    .hero__skills {
        font-size: 25px;
    }
}


/* DEBUG */


.debug .contact-me [class^="col-"] {
    min-height: 50px;
    border: 2px solid red;
} 

.debug .page-footer .info [class^="col-"] {
    min-height: 150px;
    border: 3px solid blueviolet;
}