/* PALETTE */
:root {
    --bg-dark-blue: #2C3E50;
    --bg-acquamarine: #1ABC9C;
    --bg-light-blue: #3A546D;
    --bg-white: #FFFFFF;
}

/* RESET RULES */
ul,
ol,
menu {
    list-style: none;
}

a {
    color: currentColor;
}

/* UTILITY CLASSES */
.bg-dark-blue {
    background-color: var(--bg-dark-blue);
}

.bg-blue {
    background-color: var(--bg-light-blue);
}

.bg-acquamarine {
    background-color: var(--bg-acquamarine);
}

.text-dark-blue {
    color: var(--bg-dark-blue);
}

.text-acqua {
    color: var(--bg-acquamarine);
}

/* BUTTONS */
.button {
    color: var(--bg-white);
}

.button:hover {
    background-color: var(--bg-white);
    color: var(--bg-acquamarine);
    border: 1px solid var(--bg-acquamarine)!important;
}

/* NAVBAR */
.nav_item a::after {
    content: "";
    display: block;
    height: 2px;
    background-color: currentColor;
    width: 0;
    transition: 0.2s linear;
}

.nav_item:hover ::after {
    width: 100%;
}


/* HERO */
.hero__img img {
    max-width: 230px;
}

.hero__skills {
    font-size: 15px;
}

.section-title .star::after, 
.section-title .star::before {
    content: "";
    display: block;
    height: 3px;
    background-color: currentColor;
    width: 20%;
    max-width: 150px;
} 


/* CONTACT ME */
::placeholder {
    color: var(--bg-dark-blue);
    font-weight: 600;
    font-size: 1.2rem;
}

.contact-me :is(input, textarea):not(input[type="submit"]) {
    border: 0;
    border-bottom: 1px solid rgb(203, 203, 203);
    padding-bottom: 1rem;
    margin-bottom: 0.5rem;
}

/* FOOTER */
.ms_icon {
    width: 50px;
    aspect-ratio: 1 / 1;
    border: 1px solid var(--bg-white);
    display: inline-block;
    border-radius: 50%;
}

.ms_icon i {
    transform: translateY(50%);
}

.ms_icon:not(:last-child) {
    margin-right: 0.5rem;
}

.freelancer-text {
    font-size: 1rem;
}

/* MEDIA QUERIES */
@media (min-width: 768px) {
    .hero__skills {
        font-size: 20px;
    }

    .freelancer-text {
        font-size: 1.2rem;
    }
}

@media (min-width: 992px) {
    .hero__skills {
        font-size: 25px;
    }
}
